<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.danco.homework2.h252danco" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/DrawerAppTheme" >
        <activity
            android:name=".activity.ContactListActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activity.ContactDetailActivity"
            android:label="@string/title_contact_details"
            android:parentActivityName=".activity.ContactListActivity"
            android:theme="@style/DrawerAppTheme" >
        <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.danco.homework2.h252danco.activity.ContactListActivity" />
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/DrawerAppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.DynamicGridViewActivity"
            android:label="@string/title_activity_dynamic_grid_view"
            android:theme="@style/DrawerAppTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.danco.homework2.h252danco.activity.MainActivity" />
        </activity>
    </application>

</manifest>
